@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: calc(0.75em + 1vmin);
}

#root{
    height: 100%;
    width: 100%;
}